<nav class="navbar navbar-expand-lg shadow border border-primary-subtle">
    <div class="container-fluid">

        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/assets/img/logo.png" alt="logo" width="74" class="d-inline-block align-text-top">
            <h5 class="fs-2 m-0 ms-3 text-light d-none d-md-block">Comeia Girassol</h5>
        </a>

        <button class="navbar-toggler border-0 p-0 m-4" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">

           <i class="bi bi-grid-3x3-gap-fill" style="font-size: 2.5rem; color: rgb(255, 220, 116);"></i>
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel"
            style="background-color: rgba(119, 201, 219);">

            <div class="offcanvas-header">
                <h1 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h1>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"> </button>
            </div>

            <hr class="d-lg-none m-0 text-secondary">

            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 fs-4">

                   <% if(admin) { %>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/alunos/index">Cadastrar Alunos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/login/exist">Sair</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/login/index">Entrar</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</nav>